POSTGRES_DB=quantiva
POSTGRES_USER=quantiva
POSTGRES_PASSWORD=ChangeThisNow!
JWT_ISSUER=quantiva-api
JWT_AUDIENCE=quantiva-clients
JWT_SECRET_KEY=CAMBIA_ESTA_LLAVE_SUPER_SEGURA_DE_MAS_DE_32_CARACTERES
ROOT_DOMAIN=quantiva-solutions.com
API_DOMAIN=api.quantiva-solutions.com
