POSTGRES_PASSWORD=sri123
RABBITMQ_PASSWORD=sri123
AES_KEY_BASE64=REEMPLAZAR_POR_BASE64_DE_32_BYTES
SMTP_USUARIO=usuario@dominio.com
SMTP_CLAVE=super-secreto
SMTP_REMITENTE=notificaciones@dominio.com
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin123
